body {
    background-color: rgb(0, 221, 4);
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos {
    color: white;
    font-size: 30px;
    text-align: center;
}